@import '../App.scss';

.header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    div {
        width: 50%;
        display: flex;
    }
    .header__logo {
        padding-left: 10px;
    }
    .header__basket {
        justify-content: flex-end;
        padding-right: 15px;
        font-weight: 700;
    }
}

.interval-button {
    padding: 5px;
    overflow: hidden;
    margin-right: 16px;
    cursor: pointer;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    color: $grey-button;
    height: 80px;
    &::after {
        display: block;
    }
    &:hover {
        color: $selected-button;
    }   

    &.interval-button--selected {
        color: $selected-button;
                     
    }
    &.interval-button--selected:after {
        content: ""; 
        display: block;
        width: 65%; 
        height: 1px;
        padding-top: 2px;
        background-color: $selected-button;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-radius: 3px;

    } 
}

.plan {
    background-color: #fff;
    padding: 8px;
    width: 85%;
    max-width: 600px;
    margin: 0 auto;
    border: $grey-border;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: #ecf7ec;
    }
    .plan__content {
        width: 90%;
    }
    .plan_detail {
        width: 10%;
        display: flex;
        align-items: center;
    }
    .plan__subtitle {
        color: $grey-button;
        
        font-size: 0.9em;
    }
}