@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

// Variables
$selected-button: #2864FF;
$grey-button: #717171;

$grey-border: 1px solid #dadada;

html, body, .App, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.App {
  
  font-family: 'Poppins', sans-serif;
  background-color: #e3f2fd;
}

.App__content {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  .App__message {
    font-size: 1.5em;
    font-weight: 800;
    padding: 1.8em 0;
  }
  
}